# vim: ts=2:sw=2:sts=2:et

[user]
  name = Seiichi SATO
  email = seiichisato@gmail.com

[core]
  excludesfile = ~/.gitignore_global
	pager = less

[include]
  path = ~/.github

[alias]
  pom = push origin master
  l = log --graph --decorate --oneline
  dw = diff --color-words

[color]
  ui = auto

[pager]
  diff = false
