[submodule "Tools/todo.txt-cli"]
	path = Tools/todo.txt-cli
	url = git@github.com:ginatrapani/todo.txt-cli.git
[submodule ".mutt/mutt-colors-solarized"]
	path = .mutt/mutt-colors-solarized
	url = git@github.com:altercation/mutt-colors-solarized.git
