# ignore all by default
/*

# do not ignore:
!.vim/
!.bash/
!.hgrc.d/
!bin/
!.tmux.conf
!.todo.cfg
!Tools/
!.muttrc
!.mutt/
!.gemrc
!.jshintrc

# ignore
.vim/.netrwhist
.vim/bundle
.vim/plugin
.mutt/cache
.mutt/certificates
bin/phantomjs
bin/chromedriver
