# vim: ts=2:sw=2:sts=2:et

[user]
  name = Seiichi SATO
  email = seiichisato@gmail.com

[core]
  excludesfile = ~/.gitignore_global

[include]
  path = ~/.github

[alias]

  # push
  pom = push origin master

[color]
	diff = auto
[pager]
	diff = false
