[ui]
username = Seiichi SATO <seiichisato@gmail.com>
merge = vimdiff

[merge-tools]
# http://mercurial.selenic.com/wiki/MergingWithVim
vimdiff.executable = vim
vimdiff.args = -d $base $local $output $other -c "wincmd J"

[diff]
showfunc = 1
# http://mercurial.selenic.com/wiki/MqExtension#Prevent_qrefresh_from_updating_timestamps
nodates = 1

[extensions]
hgext.fetch =
hgext.mq =
hgext.color =
# hg glog
hgext.graphlog =
# hg view
hgext.hgk =

[hooks]
# http://www.selenic.com/mercurial/wiki/index.cgi/DiffstatOfPulledChanges
changegroup = hg-pull-diffstat.sh

# vim: ft=cfg
